In [343]:
import pandas as pd

In [344]:
data_saver=pd.read_csv('/content/sales_data.csv')
data_saver

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [345]:
df=pd.DataFrame(data_saver)
df=df.drop_duplicates()
df

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[368 rows x 6 columns]

In [346]:

print("Missing values per column:")
print(df.isnull().sum())
missing_data = df[df.isnull().any(axis=1)]
print(missing_data)


print("\nRows with invalid price (negative):")
print(df[df['price'] < 0])

print("\nRows with invalid quantity (negative):")
print(df[df['quantity'] < 0])

Missing values per column:
date        0
product     0
category    0
price       2
quantity    1
revenue     1
dtype: int64
           date     product     category  price  quantity  revenue
96   2022-04-05  Smartwatch  Accessories  200.0      10.0      NaN
122  2022-05-01  Smartphone  Electronics  600.0       NaN   6600.0
193  2022-07-11       Watch  Accessories    NaN      15.0   2250.0
320  2022-11-13      Wallet  Accessories    NaN      35.0   1050.0

Rows with invalid price (negative):
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue]
Index: []

Rows with invalid quantity (negative):
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue]
Index: []

In [347]:
df['revenue'] = df['revenue'].fillna(df['price'] * df['quantity'])
df['price'] = df['price'].fillna(df['revenue'] / df['quantity'])
df['quantity'] = df['quantity'].fillna(df['revenue'] / df['price'])
print(df)
missing_data = df[df.isnull().any(axis=1)]
print(missing_data)

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[368 rows x 6 columns]
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue]
Index: []

In [348]:
df['quantity'] = df['quantity'].astype(int)
print(df[['price', 'quantity', 'revenue']].dtypes)

price       float64
quantity      int64
revenue     float64
dtype: object

In [349]:
df['date'] = pd.to_datetime(df['date'])
df['quarter'] = df['date'].dt.quarter.apply(lambda x: f'Q{x}')
print(df)

          date     product     category   price  quantity  revenue quarter
0   2022-01-01  Smartphone  Electronics   600.0        10   6000.0      Q1
1   2022-01-01      Laptop  Electronics  1200.0         5   6000.0      Q1
2   2022-01-02     T-Shirt     Clothing    20.0        50   1000.0      Q1
3   2022-01-03  Headphones  Electronics   100.0        20   2000.0      Q1
4   2022-01-04     T-Shirt     Clothing    20.0        25    500.0      Q1
..         ...         ...          ...     ...       ...      ...     ...
364 2022-12-27       Watch  Accessories   150.0         5    750.0      Q4
365 2022-12-28        Coat     Clothing   100.0         5    500.0      Q4
366 2022-12-29  Headphones  Electronics   100.0        10   1000.0      Q4
367 2022-12-30  Smartphone  Electronics   600.0        11   6600.0      Q4
368 2022-12-31      Hoodie     Clothing    40.0        30   1200.0      Q4

[368 rows x 7 columns]

In [350]:
df['price_check'] = (df['price'] * df['quantity'] == df['revenue']).astype(int)
print(df)

          date     product     category   price  quantity  revenue quarter  \
0   2022-01-01  Smartphone  Electronics   600.0        10   6000.0      Q1
1   2022-01-01      Laptop  Electronics  1200.0         5   6000.0      Q1
2   2022-01-02     T-Shirt     Clothing    20.0        50   1000.0      Q1
3   2022-01-03  Headphones  Electronics   100.0        20   2000.0      Q1
4   2022-01-04     T-Shirt     Clothing    20.0        25    500.0      Q1
..         ...         ...          ...     ...       ...      ...     ...
364 2022-12-27       Watch  Accessories   150.0         5    750.0      Q4
365 2022-12-28        Coat     Clothing   100.0         5    500.0      Q4
366 2022-12-29  Headphones  Electronics   100.0        10   1000.0      Q4
367 2022-12-30  Smartphone  Electronics   600.0        11   6600.0      Q4
368 2022-12-31      Hoodie     Clothing    40.0        30   1200.0      Q4

     price_check
0              1
1              1
2              1
3              1
4              1
..           ...
364            1
365            1
366            1
367            1
368            1

[368 rows x 8 columns]

In [351]:

print("Missing values per column:")
print(df.isnull().sum())
missing_data = df[df.isnull().any(axis=1)]
print(missing_data)


print("\nRows with invalid price (negative):")
print(df[df['price'] < 0])

print("\nRows with invalid quantity (negative):")
print(df[df['quantity'] < 0])

Missing values per column:
date           0
product        0
category       0
price          0
quantity       0
revenue        0
quarter        0
price_check    0
dtype: int64
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue, quarter, price_check]
Index: []

Rows with invalid price (negative):
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue, quarter, price_check]
Index: []

Rows with invalid quantity (negative):
Empty DataFrame
Columns: [date, product, category, price, quantity, revenue, quarter, price_check]
Index: []

In [352]:
print(df[df['price_check'] == 0])

Empty DataFrame
Columns: [date, product, category, price, quantity, revenue, quarter, price_check]
Index: []

In [360]:
import sqlite3

conn = sqlite3.connect('sales_data')
df.to_sql('sales_table', conn, if_exists='replace')
print("DataFrame saved to SQLite database successfully.")


read_df = pd.read_sql('SELECT * FROM sales_table', conn)
print("\nData read back from SQLite:")
print(read_df)

DataFrame saved to SQLite database successfully.

Data read back from SQLite:
     index                 date     product     category   price  quantity  \
0        0  2022-01-01 00:00:00  Smartphone  Electronics   600.0        10
1        1  2022-01-01 00:00:00      Laptop  Electronics  1200.0         5
2        2  2022-01-02 00:00:00     T-Shirt     Clothing    20.0        50
3        3  2022-01-03 00:00:00  Headphones  Electronics   100.0        20
4        4  2022-01-04 00:00:00     T-Shirt     Clothing    20.0        25
..     ...                  ...         ...          ...     ...       ...
363    364  2022-12-27 00:00:00       Watch  Accessories   150.0         5
364    365  2022-12-28 00:00:00        Coat     Clothing   100.0         5
365    366  2022-12-29 00:00:00  Headphones  Electronics   100.0        10
366    367  2022-12-30 00:00:00  Smartphone  Electronics   600.0        11
367    368  2022-12-31 00:00:00      Hoodie     Clothing    40.0        30

     revenue quarter  price_check
0     6000.0      Q1            1
1     6000.0      Q1            1
2     1000.0      Q1            1
3     2000.0      Q1            1
4      500.0      Q1            1
..       ...     ...          ...
363    750.0      Q4            1
364    500.0      Q4            1
365   1000.0      Q4            1
366   6600.0      Q4            1
367   1200.0      Q4            1

[368 rows x 9 columns]

In [354]:
print("Data read back from SQLite:")
read_df = pd.read_sql('SELECT SUM(revenue) FROM sales_table', conn)

print(read_df)

Data read back from SQLite:
   SUM(revenue)
0      759130.0

In [355]:
print("Data read back:")
read_df = pd.read_sql('SELECT SUM(quantity) FROM sales_table', conn)
print(read_df)

Data read back:
   SUM(quantity)
0           5341

In [356]:
print("Data read back:")
read_df = pd.read_sql('SELECT AVG(Price) FROM sales_table', conn)
print(read_df)

Data read back:
   AVG(Price)
0  211.032609

In [363]:
print("Data read back:")
read_df = pd.read_sql('SELECT product, MAX(Revenue) FROM sales_table Group by product Order by Revenue DESC limit 1 ', conn)
print(read_df)

Data read back:
      product  MAX(Revenue)
0  Smartphone        7200.0

In [358]:
print("Data read back:")
read_df = pd.read_sql('SELECT Category, SUM(Revenue) FROM sales_table Group by Category Order by Revenue DESC limit 1', conn)
print(read_df)

Data read back:
      category  SUM(Revenue)
0  Electronics      516080.0

In [359]:
print("Data read back:")
read_df = pd.read_sql('SELECT quarter, SUM(Revenue) FROM sales_table Group by quarter ', conn)
print(read_df)
conn.close()

Data read back:
  quarter  SUM(Revenue)
0      Q1      182100.0
1      Q2      185970.0
2      Q3      197680.0
3      Q4      193380.0